# default run directory
run_dir*/
study_test/
experiment*/
MNIST/
lightning_logs/

# data files
*.pkl
*.hdf5
*.csv
*.xlsx

# visualization files
*.pdf
*.png
*.png
*.eps

# exclusions
# sample data files
!bes_data/**

# python artifacts
__pycache__/
.ipynb_checkpoints/
.pytest_cache/

# MacOS artifacts
.DS_Store

# IDE artifacts
.idea/
.vscode/
*.code-workspace
.spyderproject
.spyproject

# testing, coverage, etc
pytest.ini
.coverage*
profile/*.txt
profile/*.out

# confinement classification task
bes_ml/confinement_classification/old/
bes_ml/confinement_classification/ddp_*
bes_ml/confinement_classification/*.out
bes_ml/confinement_classification/*.sh
bes_ml/confinement_classification/new_train.py
bes_ml/confinement_classification/ddp_train_0.py
bes_ml/confinement_classification/diagnostic.py
bes_ml/confinement_classification/dim_red.py
bes_ml/confinement_classification/dim_red1.py
bes_ml/confinement_classification/tests/
profile/train_memory_profile.py
bes_ml/confinement_classification/memray-flamegraph-new_train.py.2181017.html
bes_ml/confinement_classification/memray-new_train.py.2181017.bin

# bes_ml2
bes_ml2/exp_gill01/
bes_ml2/old_slurm_files/
bes_ml2/plots/
bes_ml2/*.out
bes_ml2/*.txt
bes_ml2/cctd.ipynb
bes_ml2/cctd_2.ipynb
bes_ml2/confinement_datamodule.py
bes_ml2/confinement_datamodule_2.py
bes_ml2/confinement_iterable_datamodule.py
bes_ml2/plot_vZ_shear.ipynb
bes_ml2/read_hdf5.py
bes_ml2/restructure_separatrix_data.py
bes_ml2/restructure_velocimetry_data.ipynb
bes_ml2/ddp_lightning.sh
bes_ml2/ddp_main.py
