# default run directory
run_dir*/
study_test/
experiment*/
MNIST/
lightning_logs/

# data files
*.pkl
*.hdf5
*.csv
*.xlsx

# visualization files
*.pdf
*.png
*.png
*.eps

# exclusions
# sample data files
!bes_data/**

# python artifacts
__pycache__/
.ipynb_checkpoints/
.pytest_cache/

# MacOS artifacts
.DS_Store

# IDE artifacts
.idea/
.vscode/
*.code-workspace
.spyderproject
.spyproject

# testing, coverage, etc
pytest.ini
.coverage*
profile/*.txt
profile/*.out