pytorch
seaborn
numpy
h5py
scikit-learn
matplotlib
scipy
pytest
pywt  # `pywavelets` in conda-forge
torchinfo  # conda-forge
pytorch_wavelets  # https://github.com/fbcotter/pytorch_wavelets
ghostscript  # conda-forge, but system ghostscript (`gs`) is ok

#tqdm~=4.64.0
#scikit-image
#pandas~=1.4.2
#Pillow~=9.1.1
#fastdtw~=0.3.4
PyYAML~=6.0
fastdtw~=0.3.4
tqdm~=4.64.0
pandas~=1.4.2
Pillow~=9.1.1